{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                <span class="is-size-3" style="margin: 0 50px;">Books</span>
                <a href="{{ path('page_book_create') }}" class="button is-success">
                    Add new book
                </a>
            </p>
        </header>
        <div class="card-content">
            <div class="content is-paddingless is-marginless">
                <table class="table is-marginless">
                    <thead>
                    <tr>
                        <th style="width: 35%; padding-left: 20px;">Name</th>
                        <th style="width: 35%; padding-left: 20px;">Author</th>
                        <th style="width: 15%; text-align: center;">Price</th>
                        <th style="width: 15%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td style="padding-left: 20px; vertical-align: middle;">{{ book.name }}</td>
                                <td style="padding-left: 20px; vertical-align: middle;">{{ book.author.name }}</td>
                                <td style="text-align: center; vertical-align: middle;">${{ book.price }}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a
                                        href="{{ path('page_book_edit', {'id': book.id}) }}"
                                        class="button is-success is-small"
                                    >
                                        Edit
                                    </a>
                                    <a
                                        href="{{ path('page_book_delete', {'id': book.id}) }}"
                                        class="button is-danger is-small"
                                    >
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}