{% extends 'base.html.twig' %}

{% import 'helpers.html.twig' as helpers %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card my-3">
        <form class="card-body">
            <div class="row g-3 align-items-center">
                <div class="col-3 text-right">
                    <label for="filter_name" class="col-form-label">
                        {{ 'filter.author_name'|trans }}
                    </label>
                </div>
                <div class="col-5">
                    <input
                        id="filter_name"
                        class="form-control"
                        name="name"
                        value="{{ app.request.query.get('name') }}"
                    >
                </div>
                <div class="col-4 px-3">
                    <div class="btn-group w-100">
                        <button type="submit" class="btn btn-success">
                            {{ 'filter.apply'|trans }}
                        </button>
                        <a href="{{ absolute_url(path('app_authors_list')) }}" class="btn btn-danger">
                            {{ 'filter.clear'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="my-3">
        <a href="{{ path('app_author_create') }}">
            {{ 'page.author.list.new'|trans }}
        </a>
    </div>
    {% for author in authors.items %}
        <ul class="list-group mb-1">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div>{{ author.name }} ({{ author.books|length }})</div>
                <div class="btn-group" style="height: 49px; margin: -12px -20px -12px 0;">
                    <a
                        href="{{ path('app_author_edit', {'id': author.id}) }}"
                        class="btn btn-outline-success"
                        style="min-width: 50px; line-height: 36px;"
                    >
                        <i class="fas fa-pen"></i>
                    </a>
                    <button
                        class="btn btn-outline-danger btn-modal-delete"
                        style="min-width: 50px; line-height: 36px;"
                        data-href="{{ path('app_author_delete', {'id': author.id}) }}"
                    >
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    {% else %}
        <ul class="list-group mb-1">
            <li class="list-group-item">
                {{ 'page.author.list.not_found'|trans }}
            </li>
        </ul>
    {% endfor %}
    {{ helpers.navigation(authors, ['name'])}}
{% endblock %}
