<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    {% block stylesheets %}{% endblock %}
    <style>
        .flag {
            height: 38px;
            width: 38px;
            filter: grayscale(100%);
        }
        .flag.active, .flag:hover {
            filter: grayscale(0);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img
                src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-solid.svg"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt=""
            >
            Symfony-6 test
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_authors_list') }}">
                        {{ 'navbar.authors'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_books_list') }}">
                        {{ 'navbar.books'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_change_locale', {'locale': 'ru'}) }}">
                        <img
                            class="flag {{ app.request.locale == 'ru' ? 'active' : '' }}"
                            src="/locale/ru.png"
                            alt="RU"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Русский"
                        >
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_change_locale', {'locale': 'en'}) }}">
                        <img
                            class="flag {{ app.request.locale == 'en' ? 'active' : '' }}"
                            src="/locale/en.png"
                            alt="EN"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="English"
                        >
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="my-3">{{ title }}</h1>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDelete" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ 'modal.delete.title'|trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'modal.delete.body'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {{ 'main.cancel'|trans }}
                    </button>
                    <a href="#" class="btn btn-primary">
                        {{ 'main.ok'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip('enable');
            var $modal = $('#modalDelete');
            $('.btn-modal-delete').on('click', function (e) {
                var $btn = $(e.target);
                $modal.find('.modal-footer a').attr('href', $btn.data('href'));
                $modal.modal('show');
            });
        });
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>
