{% extends 'base.html.twig' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  <h1 class="my-3">Books</h1>
  <a href="/create/book" class="btn btn-primary my-3">Add new book</a><br>
  <table class="table table-bordered table-stripped text-center my-3">
    <thead class="thead-dark">
      <tr>
        <th style="width: 35%;">Name</th>
        <th style="width: 35%;">Author</th>
        <th style="width: 15%;">Price</th>
        <th style="width: 15%;"></th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>${{ book.price }}</td>
          <td>
            <a href="/edit/book/{{ book.id }}" class="btn btn-success">Edit</a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#modal{{ book.id }}">Delete</button>
            <div class="modal fade" id="modal{{ book.id }}" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    Delete book "{{ book.name }} [{{ book.author }}]"?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form method="POST" action="/delete/book/{{ book.id }}">
                      <button type="submit" class="btn btn-primary">OK</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}